<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ch.christofbuechi.httpexampleb" >

    <permission
        android:name="ch.christofbuechi.startLoginActivity"
        android:label="my_Login_Activity_Start"
        android:protectionLevel="dangerous" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".IntentStartActivity"
            android:label="@string/app_name"
            android:permission="ch.christofbuechi.startLoginActivity" >
            <intent-filter>
                <action android:name="ch.christofbuechi.IntentStartActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Main2Activity"
            android:label="httpExampleB" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name=".UserCheckReceiverRequest" >
            <intent-filter>
                <action android:name="ch.christofbuechi.android.mybroadcastRequest" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
